#cim
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim2
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim3
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim4
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim5
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim6
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim7
{
    margin: 15px;
    letter-spacing: 2px;
}

#cim8
{
    margin: 15px;
    letter-spacing: 2px;
}

#bekezdes
{
    margin: 15px;
}

img
{
    width: 100%;
    margin: 15px;
}

body
{
    font-family: 'Segoe UI';
    margin: auto;
}

#felkover
{
    font-weight: bold;
}