header
{    
    background-position: center center;
	background-position: center;
	height: 270px;
	background-image: url("../kepek/hatter.png");
}

h1
{
	font-size: 35px;
	text-align: center;
	font-family: fantasy;
}

h2
{
	background-color:#a5630ee3;
	color:white;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
}


h3
{    
    color:  #a5630ee3;    
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
}



li
{
	font-size: 15px;
	margin-left: 40px;

}


p
{
    text-align: justify;
    text-indent: 15px;
}

a
{
	text-decoration: none;
}

table
{
	margin:auto;
	border: 2px solid blueviolet;
	margin-bottom: 100px;

}

td,th
{
	text-align: center;
	border: 2px solid blueviolet;
	padding: 10px;
	font-size: 20px;
	
}

#keret
{
	text-align: center;
}

a.Link_Wikipedia
{
	background-color: lightblue;
	padding: 10px;
}

a.Link_Wikipedia:hover
{
	background-color: black;
}

@media only screen and (max-width: 600px) 
{
	
}