*
{
    padding:0;margin:0
}

body
{
    background-color:#fff8dc;height:100vh;margin-top:0;
	text-align: justify;
}

body>div
{
    height:100vh;padding:0 50px
	text-align: justify;
}

h1
{
    font-size:50px;font-weight:bolder
}

.right
{
    margin:0 0 15px 15px;border:3px solid #ff0;
	float: right;
	height: 300px;
}

body>div>*,body>div>div>*
{
    margin-bottom:15px
}

.bio
{
    padding:25px;margin:15px 15px 0 0;
	width: 400px;
	border: 3px solid yellow;
	background-color: lightgray;
	text-align: justify;
}

.left
{
    float:left;margin-right:10px
}

ul
{
    padding:15px
}

hr
{
    border-color:#ff0;margin-bottom:30px
}

#felkover
{
	font-weight: bold;
}

#content
{
	background-color: goldenrod;
	margin: auto;
	width: 960px;
}

#keret2
{
	background-color: #fff8dc;
	margin: auto;
	width: 970px;
}

#keret3
{
	*background-color: goldenrod;
	border-bottom-color: goldenrod;
	border-top-color: goldenrod;
	border-left-color: goldenrod;
	border-right-color: goldenrod;
	margin: auto;
	height: auto;
	width: 930px;
}

h1
{
	font-style: capitalize;
	text-align: center;
}

p
{
	text-align: justify;
}

a
{
	color: yellow;
}

a:hover
{
	color: red;
}