body
{
	background-image: url('teamvlogo.png');
	background-position: right top;
	background-repeat: no-repeat;
}

#cim
{
	margin: auto;
	text-align: center;
}

img
{
	width: 350px;
}

div
{
	width: 1000px;
	background-image: url('hatter.jpg');
	margin: auto;
	height: 750px;
}

img.D1
{
	z-index: 0;
	position: absolute;
	top: 15%;
	left: 25%;
	transform: rotate(8deg);
	border: 2px solid green;
}

img.D2
{
	z-index: 1;
	position: absolute;
	top: 35%;
	left: 40%;
	transform: rotate(-15deg);
	border: 2px solid yellow;
}

img.D3
{
	z-index: 2;
	position: absolute;
	top: 45%;
	left: 30%;
	transform: rotate(20deg);
	border: 2px solid blue;
}

img.D4
{
	z-index: 3;
	position: absolute;
	top: 65%;
	left: 55%;
	transform: rotate(8deg);
	border: 2px solid red;
}

img.D5
{
	z-index: 4;
	position: absolute;
	top: 62%;
	left: 40%;
	transform: rotate(8deg);
	border: 2px solid orange;
}

img.D6
{
	z-index: 5;
	position: absolute;
	top: 25%;
	left: 55%;
	transform: rotate(8deg);
	border: 2px solid purple;
}